/.deps/
/.libs/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/config/
/configure
/liboopango.la
/libtool
/oopango-uninstalled.pc
/oopango.lo
/oopango.pc
/m4/ltoptions.m4
/m4/ltversion.m4
/m4/libtool.m4
/m4/ltsugar.m4
/m4/lt~obsolete.m4
